
*{
    font-size: 1rem;
    color: antiquewhite;
}
body{
background-color: rgb(16, 1, 34);
font-family:'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;
padding: 0 10%;
}

/* ALL SECTIONS */
section{
    
}
.TopImgGifBanner{
    
    
}   


/* NAVBAR */
.navSect{ 
background-color: aqua;    
}
.navbar{


}
.listSect{
    display: flex;
    justify-content: end;
    padding: 0 20% 0 0;
}
.navUL{
    display: flex;
    
}
.navList{
list-style: none;


}
.headImg{
    width: 25%;
}
.navAnchor{
    width: 50%;
}
.aboutContact{
    
}



/* TITLE HEADERS */
h1{
    text-align: center;
}

/* INTRODUCTION */
.introduction{
display: flex;
justify-content: end;
padding: 5% 15% 0 5%;

}

.introText{
width: 50%;
}
.introP{
    padding: 4% 4% 0 4%;
    line-height: 2.5;
}
/* ABOUT */
.about{

}
.aboutP{
    padding: 0 8% 4% 8%;
    text-align: center;
    line-height: 2.5;
}
.founderTitle{
    text-align: center;
}
.founderImgSect{
display: flex;
justify-content: space-between !important;
padding: 0 5%;
}
.founderImgSubSect{
width: 45%;
text-align: center;
padding: 5% 0;
background-color: rgba(0, 64, 255, 0.3);
}
.founderImg{
    width: 50%;
    margin: auto;
}
.founderP{
    padding: 0 5% 0 5%;
}
/* CONTACT US */
.contactUs{

}
.formSect{
    display: flex;
    justify-content: space-around;
}
.contactForm{
    width: 36%; 
    height: 500px;
}

/* FOOTER */
.footer{

}