
*{
    font-size: 1rem;
    color: antiquewhite;
}
body{
background-color: rgb(56, 12, 111);
font-family:'Playfair Display', Tahoma, Geneva, Verdana, sans-serif;

}

/* ALL SECTIONS */
section{
    
}


/* NAVBAR */
.navSect{ 
background-color: aqua;    
}

/* BANNER */
.carouselSect{
    
    margin-bottom: 10%;
}


/* TITLE HEADERS */
h1{
    text-align: center;
    margin-bottom: 5%;
}

/* ABOUT US / INTRODUCTION */
.aboutSect{
    width: 75%;
    margin: auto;
    background-color: aqua;
    border-radius: 1.6%;
}
.aboutTitleImgSect{
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
    padding: 0%;
}
.aboutTitleImg{
    width: 100%;
}
.aboutPSect{
    width: 40%;
    margin: auto;
    text-align: center;
}
.aboutP{
    color: black;
}
#aboutImgSect{
    max-width: 80%;
    margin: auto;
    padding: 2%;
    margin-bottom: 7%;
    position: relative;
    bottom: 20em;
}
.aboutImg{
    width: 100%;
}
.aboutP{
    padding-bottom: 4%;
    text-align: center;
    line-height: 2.5;
}

/* FOUNDERS */
.founderTitleImgSect{
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}
.founderTitleImg{
    width: 100%;

}
.founderPSect{
    width: 40%;
    margin: auto;
    text-align: center;
}
.founderImgSect{
display: flex;
justify-content: space-between !important;
padding: 0 15% 10% 15%;
}
.founderImgSubSect{
width: 45%;
text-align: center;
padding: 5% 0;
background-color: #7ED957;
}
.founderImg{
    width: 50%;
    margin: auto;
}
.founderP{
    padding: 0 5% 0 5%;
}

/* CONTACT US */
.contactTitleImgSect{
    width: 80%;
    margin: auto;
    margin-bottom: 4%;
}
.contactTitleImg{
    width: 100%;

}
.contactPSect{
    width: 30%;
    margin: auto;
    text-align: center;
}
.formSect{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.contactForm{
    width: 36%; 
    height: 500px;
}

/* FOOTER */
.footer{

}